*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
} 

.navigation{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(229, 229, 229, 0.5);
}
.navigation ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.navigation a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}
.navigation ul li:hover a{
    background-color: black;
    color: #ffffff;
}

footer{
    margin: auto;
    width: auto;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.link{
    color: white !important;
    text-decoration: none;
}
.copy{
    width: 100%;
    border-top: .5px solid;
    margin-top: 10px;
}
.address{
    margin: 0;
}
.address p{
    margin: 0;
}
.social-icons{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.s-icon{
    width: 30px;
    cursor: pointer;
    margin: 0 10px;
}
.footer-item{
    display: flex;
    gap: 20px;
}